<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.TadminDao">

    <!--public Tadmin findOne(String name);-->

    <select id="findOne" parameterType="String" resultType="Tadmin">
        select id, name, password from tadmin where name=#{name}

    </select>

</mapper>

















